.body{
    background-color: black;
    
}

.post{
    background-color: white;
    /*border: 2px dashed blue;*/
    margin-top: 50px;
    margin-bottom: 400px;
    margin-right: 400px;
    margin-left: 400px;
}

.puntitos{
   
}

.post-header {
   display: inline; 
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
}

.post-img {

}

.post-body {

}
.icono-guadado {
    display: flex;
    margin-left: 95%;
}
.post-icon{
    display: flex;
}

.tamaño-iconos{
    display: inline;
    /*justify-content: center*/
    font-size: 40px;
    border: 2px dashed blue;
}