.body{
    background-color: black;
}

.post{
    background-color: white;
    border: 1px solid black;
    margin-top: 400px;
    margin-bottom: 400px;
    margin-right: 400px;
    margin-left: 400px;
}

.puntitos{
    margin-right
}

.post-header¨{
    display flex: center;
    justify-content: center;
}

.post-img {

}

.post-body {

}