.body{
    background-color: black;
    
}

.post{
    background-color: white;
    border: 2px dashed blue;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-right: 400px;
    margin-left: 400px;
}

.puntitos{
   
}

.post-header {
   display: inline-block; 
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
}

.post-img {

}

.post-body {

}
.icono-guadado {
    margin-left: 90%;
    border: 2px dashed blue;
}
.post-icon{
    display: inline-block;
}